#a{
  color: red;
}

.head_menu{
  padding-top: 30px;
  font-size: 120%;
  color: black;
  display: flex;
  justify-content: space-evenly;
}

.head_menu a{
  color: black;
  text-decoration:none;
  margin: -30px;
}

.head_menu a:hover{
  color: "#567fcc";
}

hr{
  border: 0;
  border-top:medium solid transparent;
  background-color: black;
}

/*top*/
#top_img1{
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: linear-gradient(45deg, #ffffe0, #deb887);
  box-shadow: 0 10px 25px 0 #8b4513;
}

#main p{
  display: inline;
  font-size: 200%;
  margin-left: auto;
  margin-right: auto;
}

/*concept*/

#footer{
  background-color: #f5f5f5;
}

.footer_menu{
  padding-top: 30px;
  font-size: 20%;
  color: black;
  display: flex;
  justify-content: space-evenly;
  margin-right: 450px;
  margin-left: -40px;
}

.footer_menu a{
  color: black;
  text-decoration:none;
  margin: -30px;
}
